h1 {
  color: #fff;
}

p {
  color: #fff;
}

a {
  color: #fff;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link.active-link {
    color: var(--primary-color);
    font-weight: bold;
}
