<div>
  <form class="form-signin w-100 m-auto mt-3 text-center">
      <!-- <h1 class="h3 mb-3 fw-normal">Please sign in</h1> -->

      <div class="form-floating mt-5">
        <input [(ngModel)]="email" type="email" class="form-control" name="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Адрес эл. почты</label>
      </div>
      <div class="form-floating">
        <input [(ngModel)]="password" type="password" class="form-control" name="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Пароль</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Запомнить
        </label>
      </div>
      <button class="w-100 btn" type="submit">Войти</button>
  </form>
</div>
