<div class="container mt-5 mb-5">
    <div class="" *ngFor="let ci of carInfo">
        <div class="car-box row align-items-start mt-3 mb-3">
            <img class = "col" src="{{ci.img}}">
            <div class = "col">
                <h1>{{ci.brand + ' ' + ci.model}}</h1>
                <p>{{'Топливо: ' + ci.fuelType}}</p>
                <p>{{'Объём двигателя: ' + ci.volume + ' л'}}</p>
                <p>{{'КПП: ' + ci.transmission}}</p>
                <p>{{ci.rentingPrice + ' тг/день'}}</p>
                <a class="buy-btn" [routerLink]="['/create-order']">Оформить</a>
            </div>
            <br/>
        </div>
    </div>
</div>
